.Camera-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.Camera-text-hbk {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 950px;
  font-size: 76pt;
  z-index: 1;
  text-align: left;
  font-variant: small-caps;
}

.Camera-text-game {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 950px;
  font-size: 76pt;
  z-index: 1;
  text-align: right;
  font-variant: small-caps;
}

.Camera-text-brewdog {
  position: absolute;
  top: 853px;
  left: 5px;
  width: 945px;
  font-size: 58pt;
  z-index: 1;
  text-align: left;
  font-variant: small-caps;
}

.Camera-text-fgc {
  position: absolute;
  top: 853px;
  left: 965px;
  width: 945px;
  font-size: 44pt;
  z-index: 1;
  text-align: right;
  font-variant: small-caps;
}

.Camera-text-date {
  position: absolute;
  top: 955px;
  left: 10px;
  width: 945px;
  font-size: 44pt;
  z-index: 1;
  text-align: left;
  font-variant: small-caps;
}

.Camera-icon-facebook {
  position: absolute;
  top: 936px;
  left: 965px;
  width: 945px;
  font-size: 31pt;
  z-index: 1;
  text-align: right;
  font-variant: small-caps;
}

.Camera-icon-twitter {
  position: absolute;
  top: 983px;
  left: 965px;
  width: 945px;
  font-size: 31pt;
  z-index: 1;
  text-align: right;
  font-variant: small-caps;
}

.Camera-icon-web {
  position: absolute;
  top: 1029px;
  left: 965px;
  width: 945px;
  font-size: 31pt;
  z-index: 1;
  text-align: right;
  font-variant: small-caps;
}

.Camera-text-facebook {
  position: absolute;
  top: 930px;
  right: 58px;
  width: 945px;
  font-size: 31pt;
  z-index: 1;
  text-align: right;
  font-variant: small-caps;
}

.Camera-text-twitter {
  position: absolute;
  top: 976px;
  right: 58px;
  width: 945px;
  font-size: 31pt;
  z-index: 1;
  text-align: right;
  font-variant: small-caps;
}

.Camera-text-web {
  position: absolute;
  top: 1022px;
  right: 58px;
  width: 945px;
  font-size: 31pt;
  z-index: 1;
  text-align: right;
  font-variant: small-caps;
}