.Scoreboard-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.Scoreboard-text-hbk {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -5px;
  width: 172px;
  font-size: 30pt;
  z-index: 1;
  text-align: center;
  background-color: #424242;
  padding-left: 10px;
  padding-right: 10px;
}

.Scoreboard-text-brewdog {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -3px;
  width: 482px;
  font-size: 36pt;
  z-index: 1;
  text-align: center;
  font-variant: small-caps;
  background-color: #424242;
}

.Scoreboard-text-p1s {
  position: absolute;
  top: -5px;
  left: 764px;
  width: 50px;
  font-size: 36pt;
  z-index: 1;
  text-align: center;
  background-color: #424242;
  font-variant: small-caps;
}

.Scoreboard-text-p2s {
  position: absolute;
  top: -5px;
  left: 1106px;
  width: 50px;
  font-size: 36pt;
  z-index: 1;
  text-align: center;
  background-color: #424242;
  font-variant: small-caps;
}

.Scoreboard-text-p1n {
  position: absolute;
  top: -5px;
  right: 1166px;
  width: auto;
  font-size: 36pt;
  z-index: 1;
  text-align: right;
  background-color: #424242;
  padding-right: 10px;
  padding-left: 10px;
  font-variant: small-caps;
}

.Scoreboard-text-p2n {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: -5px;
  left: 1166px;
  width: auto;
  font-size: 36pt;
  z-index: 1;
  text-align: left;
  background-color: #424242;
  font-variant: small-caps;
}