
@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway:400,700&subset=latin-ext');
@import url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css');

html {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
}

body {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.0);
}

.border {
  border-radius: 3px;  
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.raleway-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.rawline-bold {
  font-family: 'rawline', sans-serif; 
  font-weight: 700;
  font-style: normal;
}

.cabin {
  font-family: 'Cabin', sans-serif;
}

.orange {
  color: #FF5722
}

.white {
  color: #FFFFFF
}